@model IEnumerable<MOCos_V1.Documentos>

@{
    ViewBag.Title = "MostrarDocTemas";
    Layout = "~/Views/Shared/_LayoutMaestro.cshtml";
    Temas Actual = (Temas)Session["ElTema"];
}

@Styles.Render("~/Content/Registrar/assets/css/paper-bootstrap-wizard.css")


<!-- CSS Just for demo purpose, don't include it in your project -->
@Styles.Render("~/Content/Registrar/assets/css/demo.css")


<!-- Fonts and Icons -->
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css">
@Styles.Render("~/Content/Registrar/assets/css/themify-icons.css")

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcomb-list">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="breadcomb-wp">
                            <div class="breadcomb-icon">
                                <i class="notika-icon notika-support"></i>
                            </div>
                            <div class="breadcomb-ctn">
                                <h2>Tema</h2>
                                <p>@Html.ViewBag.Tema</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                        <div class="breadcomb-report">
                            @if (Model.Count() < 3)
                             {
                            <button onclick="location.href='@Url.Action("InsertarDoc","Maestro",new { id = Actual.idTema })'" data-toggle="tooltip" data-placement="left" title="Agregar Documento" class="btn"><i class="glyphicon glyphicon-plus"></i></button>
                             }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Inbox area Start-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inbox-text-list sm-res-mg-t-30">
                <div class="accordion-stn">
                    <div class="panel-group" data-collapse-color="nk-green" id="accordionGreen" role="tablist" aria-multiselectable="false">

                        <!--Foreach para mostrar unidad y temas juntos-->
                        <div class="panel panel-collapse notika-accrodion-cus">
                            <div class="panel-heading" role="tab" style="width:100%;">
                                <table class="table table-sc-ex">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Operaciones
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                         {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.idClase)
                                                </td>
                                                <td>
                                                    <a href="@item.Link" target="_blank">@item.realName</a>
                                                </td>
                                                <td>
                                                    @Html.ActionLink(" ", "EditarDoc", new { id = item.Link }, new { @class = "btn btn-info glyphicon glyphicon-edit", title ="Editar" }) &nbsp;
                                                    <button type="button" class="btn btn-danger glyphicon glyphicon-trash" title="Eliminar" data-toggle="modal" data-target="#otroalert-@item.Link"></button>
                                                    <div class="modal fade" id="otroalert-@item.Link" role="dialog">
                                                        <div class="modal-dialog modals-default">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h2>Eliminar</h2>
                                                                    <p>¿Seguro que desea eliminar <b>@item.realName</b>  de la Unidad?</p>
                                                                    <p>Esta accion eliminara permanentemente el tema seleccionado</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    @Html.ActionLink(" ", "EliminarDoc", new { id = item.Link }, new { @class = "btn btn-danger" })
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                         }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
