<!DOCTYPE html>
<html>
<head>
    <!--eliminar cache temporal NO BORRAR-->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <!--FIN CACHE TEMPORAL-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MOCOS</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    </style>
</head>
<body>
    <!--[if lt IE 8]>
               <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
           <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="#">   <img src="~/img/logo/logo.png" /></a>

                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">

                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="glyphicon glyphicon-user"></i></span></a>
                                <div role="menu" class="dropdown-menu message-dd chat-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Bienvenido</h2>
                                    </div>
                                    <div class="hd-message-sn  text-center">
                                        <div class="hd-message-img chat-img">
                                            <img src="~/img/perfiles/noregister.png" />

                                            <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                        </div>
                                        <div class="hd-mg-ctn">
                                            <h3>Indetificate</h3>
                                            <p>------------</p>
                                            <button class="btn btn-success btn-icon-notika waves-effect" onclick="location.href='@Url.Action("Login", "Home")'"><i class="notika-icon notika-checked"></i> Inicia Sesión</button>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li>
                                    <a data-toggle="collapse" data-target="#Charts" href="#">Inicio</a>

                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#demoevent" href="#">Contacto</a>



                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#democrou" href="#">Mapa</a>

                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                            <li>
                                <a data-toggle="tab" href="#Index" onclick="location.href='@Url.Action("Index", "Home")'"><i class="notika-icon notika-house"></i> Inicio</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#Contact" onclick="location.href='@Url.Action("Contact", "Home")'"><i class="notika-icon notika-mail"></i> Contacto</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#Mapa" onclick="location.href='@Url.Action("Mapa", "Home")'"><i class="glyphicon glyphicon-map-marker"></i> Mapa</a>
                            </li>

                        </ul>
                       
</div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    @RenderBody()

    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>
                            Copyright © 2020
                            . Todos los derechos reservados. Hecho por <a href="">Equipo 2</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
   
</body>
</html>
