@model IEnumerable<MOCos_V1.Alumnos>

@{
    ViewBag.Title = "ConsultaAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Alumnos</h2>
                                    <p>Alumnos dados de alta en la plataforma <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Agregar alumno" class="btn" onclick="location.href='@Url.Action("Insertar_Alumno_Administrador", "Administrador")'"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">

                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Matricula)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Usuario.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Usuario.ApellidoPaterno)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Usuario.ApellidoMaterno)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cuatrimestre.Grado)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Grupo.Grupo1)
                                    </th>

                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Matricula)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usuario.ApellidoPaterno)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usuario.ApellidoMaterno)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cuatrimestre.Grado)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grupo.Grupo1)
                                        </td>

                                        <td>
                                            @Html.ActionLink(" ", "EditarAlumnoPerfil", new { id = item.idUsuario }, new { @class = "btn btn-info glyphicon glyphicon-edit", @style = "padding: 6px 10px;", data_toggle = "tooltip", data_placement = "top", title = "Editar" })
                                            @Html.ActionLink(" ", "Details", new { id = item.idAlumno }, new { @class = "btn btn-warning glyphicon glyphicon-share", @style = "padding: 6px 10px;", data_toggle = "tooltip", data_placement = "top", title = "Detalles" })
                                            <span data-toggle = "tooltip", data-placement = "top", title = "Eliminar">
                                                <button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#alert-@item.idUsuario" style="padding: 6px 10px;"></button>
                                            </span>
                                            <div class="modal fade" id="alert-@item.idUsuario" role="dialog">
                                                <div class="modal-dialog modals-default">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body" style="text-align:left;">
                                                            <h2>Eliminar</h2>
                                                            <p>¿Seguro que desea eliminar <b>@item.Usuario.Nombre</b>?</p>
                                                            <p>Esta accion eliminara permanentemente el registro de asesorias de alumno, datos personales y cualquier otro registro que exista del alumno en el sistema.</p>
                                                            <p>Esta accion no se puede restablecer</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            @Html.ActionLink("Eliminar", "EliminarAlumno", new { id = item.idUsuario }, new { @class = "btn btn-danger" })
                                                            <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Matricula)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Usuario.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Usuario.ApellidoPaterno)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Usuario.ApellidoMaterno)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cuatrimestre.Grado)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Grupo.Grupo1)
                                    </th>

                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->





