@model IEnumerable<MOCos_V1.Alumnos>

@{
    ViewBag.Title = "ConsultaAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-windows"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Alumnos</h2>
                                        <p>Alumnos dados de alta en la plataforma <span class="bread-ntd"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="Agregar alumno" class="btn"><i class="glyphicon glyphicon-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="normal-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="normal-table-list">

                        <div class="bsc-tbl">
                            <table class="table table-sc-ex">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Matricula)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Usuario.Nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Usuario.ApellidoPaterno)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Usuario.ApellidoMaterno)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cuatrimestre.Grado)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Grupo.Grupo1)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Matricula)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usuario.ApellidoPaterno)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usuario.ApellidoMaterno)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cuatrimestre.Grado)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grupo.Grupo1)
                                        </td>

                                        <td>
                                            @Html.ActionLink(" ", "EditarAlumnoAdmin", new { id = item.idAlumno }, new { @class = "btn btn-info glyphicon glyphicon-edit" }) &nbsp;
                                            @Html.ActionLink(" ", "Details", new { id = item.idAlumno }, new { @class = "btn btn-warning glyphicon glyphicon-share" }) &nbsp;
                                            @Html.ActionLink(" ", "Delete", new { id = item.idAlumno }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

