@model IEnumerable<MOCos_V1.Materia>

@{
    ViewBag.Title = "ConsultaMaterias";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Materias</h2>
                                    <p>Materias dados de alta en la plataforma <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">

                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreMateria)
                                    </th>
                                    <th>
                                        Maestro Coordinador
                                    </th>
                                    <th>
                                        Grado
                                    </th>
                                    <th>
                                        Carrera
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Profesor.Cubo)
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreMateria)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Profesor.Usuario.Nombre) &nbsp;
                                            @Html.DisplayFor(modelItem => item.Profesor.Usuario.ApellidoPaterno) &nbsp;
                                            @Html.DisplayFor(modelItem => item.Profesor.Usuario.ApellidoMaterno)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cuatrimestre.Grado)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cuatrimestre.Carrera)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Profesor.Cubo)
                                        </td>
                                        <td>
                                            @Html.ActionLink(" ", "MostrarModulos", new { id = item.idMateria }, new { @class = "btn btn-info glyphicon glyphicon-book", @style = "padding: 6px 10px;", data_toggle = "tooltip", data_placement = "top", title = "Unidades y Temas" })
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreMateria)
                                    </th>
                                    <th>
                                        Maestro Coordinador
                                    </th>
                                    <th>
                                        Grado
                                    </th>
                                    <th>
                                        Carrera
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Profesor.Cubo)
                                    </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>