@model IEnumerable<MOCos_V1.Profesor>

@{
    ViewBag.Title = "ConsultaProfesores";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}

<div class="container">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.ApellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cubo)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <th>
                    @Html.DisplayFor(model => item.Usuario.ApellidoPaterno)
                </th>
                <th>
                    @Html.DisplayFor(model => item.Usuario.ApellidoMaterno)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Cubo)
                </td>

                <td>
                    @Html.ActionLink(" ", "EditarProfesor", new { id = item.idProfesor }, new { @class = "btn btn-info glyphicon glyphicon-edit" }) &nbsp;

              

                </td>
            </tr>
        }

    </table>

</div>
